
.post-list {
  padding: 15px;
  padding-top: 0px;
  list-style-type: none;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
}

h3, h4 {
  text-align: left;
  padding: 5px;
}

h4 {
  margin:0px;
  background-color: #DCEDC8;
  padding: 5px;
}

.menu-link {
  padding-left: 10px;
}

a:hover {
  color: #C5E1A5;
  font-weight: bold;
}
/* Tylko dla PR - tmp */

